# Set default behavior to automatically handle text files and convert line endings.
* text=auto eol=lf

# Explicitly force LF endings for scripts and other common file types.
*.sh    eol=lf
*.py    eol=lf
*.json  eol=lf
*.txt   eol=lf
Dockerfile* eol=lf
